.expenseContainer {
    border: 2px solid #000;
    width: 45%;
}


/* mainContainer {
    display: flex;
    width: 90%;
} */

th {
    border: 1px solid #000;
    width: 80px;
    word-wrap: break-word;
}

td {
    border: 1px solid #000;
    width: 80px;
}